{% extends "./base.html" %}

{% block content %}


<div class="container">

    <div class="card text-white bg-dark">
        <div class="card-header mb-3">
            <h3>{{ event.title }}</h3>
        </div>

        <div class="card-body">
            <h5 class="card-title mb-4">{{event.location}}</h5>
            <p class="card-text">{{ event.description }}</p>
        </div>

        <div class="card-footer d-flex align-content-between ">
            <div class="col-md-6">
                <div class="card-text row">
                    <p>Starts at: {{ event.start_time|date:"M d, Y" }} -
                        {{event.start_time|time:"h:i A"}}
                    </p>
                </div>
                <div class="card-text row">
                    <p>Ends at: {{ event.end_time|date:"M d, Y"  }} - {{event.end_time|time:"h:i A"}}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                {% if user.username %}
                <p>Created by: <a class="text-white" href="{% url 'eventFinderApp:profile' %}">{{ user.username }}</a>
                </p>
                <a href="{% url 'eventFinderApp:update-event' %}"><button>Modify Event</button></a>
                {% endif %}
            </div>



        </div>
    </div>
    <div>


        {% endblock content %}