{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mb-5 bg-light p-2 shadow">

        <div class="media">
            <div class="col-md-4">
                <img class="rounded-circle account-img" src="{{ user.image.url }}">
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center">

            <div class="media-body">
                <div class=row>
                    <h2 class="account-heading"> '{{ user.username|upper }}!' welcome your Event Finder account </h2>
                </div>
                <div class=" col-md-6 mt-5">
                    {% if user.last_name %}
                    <p class="text-secondary">First Name: {{ user.first_name }}</p>
                    {% endif %}
                    {% if user.last_name %}
                    <p class="text-secondary">Surname: {{ user.last_name }}</p>
                    {% endif %}
                    {% if user.email %}
                    <p class="text-secondary"> Email Address: {{ user.email }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if user.is_authenticated %}
        <div class="row  mb-4">
            <div class="col-md-6 col-sm-8 d-flex justify-content-center">
                <span>You can modify your profile detail here :</span>
                <a href="{% url 'eventFinderApp:editprofile' user.pk %}">Edit your
                    Profile</a>
            </div>
            <div class="col-md-6 col-sm-8 d-flex justify-content-center">
                <span>Do you need to set a new password :</span>
                <a href="{% url 'users:password_change' %}">Change your password</a>
            </div>
            {% else %}
            <p><a href="{% url 'login' %}">Login to edit this profile</a></p>
            {% endif %}
        </div>
    </div>


    <div class="container shadow bg-light">
        <div calss="col-md-6 d-flex justify-content-center">
            <h3>Manage Your events:</h3>
        </div>
        <div class="">
            {% if events_list %}
            {% for event in events_list %}
            {% if event.is_not_past_event %}
            <p> Your upcomming events: </p>
            {% include "./detailsBox.html" with event=event %}
            {% else %}
            <p>Previous events hosted by you:</p>
            {% endif %}
            {% endfor %}
            {% else %}
            <p>You don't have any past events.</p>

            {% endif %}

        </div>
    </div>

</div>
</div>
</div>
{% endblock content %}