{% extends "eventFinderApp/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">

        <form action="{% url 'users:user_register' %}" method="post">
            {% csrf_token %}
            <div class="mb-4 border-bottom pb-2">
                <h2>Join EventFinda</h2>
            </div>


            <div class="panel-body">
                {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                {{ form.email|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}



        </form>
        <div class="d-flex justify-content-between">
            <input type="button" class="btn btn-secondary" value="Cancel">
            <input type="submit" value="Register" class="btn btn-success">
        </div>
    </div>
</div>
{% endblock %}